{% extends "base.html" %}
{% block title %}{{ book_name }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/cate.css') }}">
{% endblock %}
{% block body %}
<h1 class="text-center">{{ book_name }}类</h1><br>
{% for book in books %}
<div class="col-md-3 myfont">
    <img src="{{ '/static/images/'+ book.book_image }}" class="img-rounded" style="width:100%">
    <br><br>
    <p class="text-left">书名： <em>{{ book.book_name }}</em></p>
    <span class="text-left">价格： {{ book.fee }}</span><p class="text-right"><a>了解更多</a></p><br>
</div>
{% endfor %}
{% endblock %}