{% extends 'base.html' %}
{% block title %}修改密码{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/my_center.css') }}">
{% endblock %}
{% block body %}
<h1 class="text-center">个人中心</h1>
<div class="row">
    <div class="col-md-2">
        <h3 class="bg-primary text-center">修改密码</h3>
        <ul class="list-unstyled text-center">
            <li><a href="{{url_for('my_center')}}" class="text-danger"><h4>基本信息</h4></a></li>
        </ul>
    </div>
    <div class="col-md-6 change_mar">
        <form action="" method="POST" class="form-horizontal">
            <div class="form-group has-success">
                <label for="" class="col-sm-3 control-label">旧密码:</label>
                <div class="col-sm-9">
                    <input type="password" name="old_pass" placeholder="请输入旧密码" class="form-control">
                </div>
            </div>
            <div class="form-group has-success">
                <label for="" class="col-sm-3 control-label">新密码:</label>
                <div class="col-sm-9">
                    <input type="password" name="new_pass" placeholder="请输入新密码" class="form-control">
                </div>
            </div>
            <div class="form-group has-success">
                <label for="" class="col-sm-3 control-label">确认新密码:</label>
                <div class="col-sm-9">
                    <input type="password" name="new_pass2" placeholder="请输入新密码" class="form-control">
                </div>
            </div>
            <div class="col-sm-9 col-sm-offset-3">
                <button type="submit" class="btn btn-primary btn-block">修改</button> 
            </div>     
        </form>
        {% for message in get_flashed_messages() %}
        <br><br>
        <h3 class="text-center" ><mark style="color:red">{{ message }}</mark></h3>
        {% endfor %}                
    </div>
</div>
{% endblock %}